{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Administrativo</title>

    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>

<div class="sidebar">

    <h2>Entre Linhas</h2>

    <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="{% url 'lista_pedidos' %}" class="card-menu">📋 Pedidos</a></li>
        <li><a href="#">Clientes</a></li>
        <li><a href="#">Produção</a></li>
        <li>  <a href="{% url 'estoque' %}" class="card-menu">📦 Estoque</a> <li>
        <li><a href="#">Receitas</a></li>
        <li><a href="#">Despesas</a></li>
        <li><a href="#">Relatórios</a></li>
        <li><a href="#">Configurações</a></li>
    </ul>

</div>

<div class="content">

    <h1>Dashboard</h1>

    <div class="cards">

        <div class="card">
            <h3>Pedidos Hoje</h3>
            <span>25</span>
        </div>

        <div class="card">
            <h3>Em Produção</h3>
            <span>14</span>
        </div>

        <div class="card">
            <h3>Faturamento</h3>
            <span>R$ 8.520</span>
        </div>

        <div class="card">
            <h3>Despesas</h3>
            <span>R$ 2.100</span>
        </div>

    </div>

    <div class="tabela">

        <h2>Últimos Pedidos</h2>

        <table>

            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Serviço</th>
                    <th>Status</th>
                    <th>Entrega</th>
                </tr>
            </thead>

            <tbody>

                {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.cliente }}</td>
                    <td>{{ pedido.servico }}</td>
                    <td>{{ pedido.get_status_display }}</td>
                    <td>{{ pedido.data_entrega }}</td>
                </tr>
                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

</body>
</html>