*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#f8fafc;
color:#1e293b;
}

/* HEADER */

header{
position:sticky;
top:0;
z-index:100;
background:#0f172a;
padding:20px 8%;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
color:white;
font-size:24px;
font-weight:700;
}

nav{
display:flex;
gap:25px;
}

nav a{
color:white;
text-decoration:none;
font-weight:500;
}

nav a:hover

/* HERO */

.hero{
min-height:80vh;
background:linear-gradient(
rgba(15,23,42,.85),
rgba(15,23,42,.85)
),
url("../img/banner.jpg");


background-size:cover;
background-position:center;

display:flex;
align-items:center;
justify-content:center;
text-align:center;
padding:40px;


}

.hero-content{
max-width:800px;
}

.hero h1{
color:white;
font-size:55px;
margin-bottom:20px;
}

.hero p{
color:#e2e8f0;
font-size:22px;
margin-bottom:30px;
}

.hero-buttons{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
}

.btn-whatsapp,
.btn-login{
padding:15px 30px;
border-radius:12px;
text-decoration:none;
font-weight:600;
transition:.3s;
}

.btn-whatsapp{
background:#22c55e;
color:white;
}

.btn-whatsapp:hover{
transform:translateY(-4px);
}

.btn-login{
background:#2563eb;
color:white;
}

.btn-login:hover{
transform:translateY(-4px);
}

/* ESTATÍSTICAS */

.estatisticas{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
padding:60px 8%;
}

.card-estat{
background:white;
border-radius:16px;
text-align:center;
padding:30px;
box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.card-estat h2{
color:#2563eb;
font-size:42px;
}

/* SERVIÇOS */

#servicos{
padding:70px 8%;
}

#servicos h2{
text-align:center;
margin-bottom:40px;
font-size:38px;
}

.grid-servicos{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
}

.servico{
background:white;
border-radius:16px;
overflow:hidden;
box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.servico img{
width:100%;
height:220px;
object-fit:cover;
}

.servico h3{
text-align:center;
padding:20px;
}

/* VANTAGENS */

.vantagens{
padding:70px 8%;
background:white;
}

.vantagens h2{
text-align:center;
margin-bottom:40px;
}

.vantagens-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.vantagem{
padding:25px;
border-radius:15px;
background:#f8fafc;
text-align:center;
}

/* CTA */

.cta{
background:#2563eb;
color:white;
text-align:center;
padding:70px 20px;
}

.cta h2{
margin-bottom:20px;
}

.cta a{
background:white;
color:#2563eb;
padding:15px 30px;
border-radius:10px;
text-decoration:none;
font-weight:600;
}

/* CONTATO */

#contato{
padding:70px 8%;
text-align:center;
}

#contato h2{
margin-bottom:20px;
}

/* FOOTER */

footer{
background:#0f172a;
color:white;
text-align:center;
padding:25px;
}

/* RESPONSIVO */

@media(max-width:768px){


header{
    flex-direction:column;
    gap:15px;
}

.hero h1{
    font-size:36px;
}

.hero p{
    font-size:18px;
}


}
